img {
  width: 100%;
  height: auto;
}

* {
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

.enter-box-image img {
  width: 12%;
  height: auto;
}

.btn-enter {
  display: block;
  padding: 12px 30px;
  border: 2px solid #fff;
  margin: 20px auto;
  color: #fff;
  background-color: transparent;
  font-size: 20px;
  font-family: "8 Bit Fortress";
  text-decoration: none;
  text-transform: uppercase;
  z-index: 9999999;
}

.btn-enter:hover {
  background-color: #fff;
  color: #40002b;
}

div#boxex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}
