.footer-image {
  width: 20%;
}

.footer-subheading {
  padding: 70px 50px;
}

.footer-subhead p {
  color: #fff;
  font-size: 19px;
  font-family: "IBM Plex Mono";
  font-weight: 400;
}

.footer-subhead h6 {
  color: #6f5b71;
  font-size: 20px;
  font-family: "IBM Plex Mono";
}

.footer-right-subheading {
  text-align: left;
}

.footer-right-subheading a {
  text-decoration: none;
}

.footer-right-subheading a h2 {
  color: #fff;
  font-size: 25px;
  font-family: "IBM Plex Mono";
}
.footer-right-subheading p {
  color: #6f5b71;
  font-size: 20px;
  font-family: "IBM Plex Mono";
}

.footer-right-subheading p:hover {
  color: #fff;
  cursor: pointer;
}
