.img-team {
  position: absolute;
  width: 16%;
  height: auto;
  margin: 0px auto;
  right: 49%;
}

.team-subheading p {
  color: #8f8f8f;
  font-size: 16px;
  font-family: "IBM Plex Mono";
}

.heading {
  position: relative;
  margin-top: 70px;
}

.heading h3 {
  font-size: 39px;
  font-family: "IBM Plex Mono";
  font-weight: 900;
  color: #785c7a;
}

.heading h1 {
  font-size: 45px;
  font-family: "IBM Plex Mono";
  font-weight: bold;
  position: absolute;
  width: 155%;
  left: -93px;
  color: #ff007f;
}

.team-section {
  margin: 130px 0px;
}

@media screen and (max-width: 900px) {
  .heading {
    position: relative;
    padding-bottom: 0px;
    margin-top: 0;
    margin-left: 100px;
  }

  .heading h3 {
    font-size: 26px;
    font-family: "IBM Plex Mono";
    font-weight: 900;
    color: #785c7a;
  }

  .img-team {
    position: absolute;
    width: 50%;
    height: auto;
    margin: -38px auto;
    right: 56%;
  }

  .heading h1 {
    font-size: 25px;
    font-family: "IBM Plex Mono";
    font-weight: bold;
    position: relative;
    width: 100%;
    left: 0px;
    color: #ff007f;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    position: relative;
    padding-bottom: 0px;
    margin-top: 0;
    margin-left: 100px;
  }

  .heading h3 {
    font-size: 26px;
    font-family: "IBM Plex Mono";
    font-weight: 900;
    color: #785c7a;
  }

  .img-team {
    position: absolute;
    width: 50%;
    height: auto;
    margin: -38px auto;
    right: 56%;
  }

  .heading h1 {
    font-size: 25px;
    font-family: "IBM Plex Mono";
    font-weight: bold;
    position: relative;
    width: 100%;
    left: 0px;
    color: #ff007f;
  }
}
