.container {
  max-width: 80%;
  margin: 0px auto;
}

.owl-theme {
  padding: 100px 0px 0px 0px;
}

.nft_coll_info a {
  text-decoration: none;
  text-align: center;
  font-family: "IBM Plex Mono";
  font-size: 30px;
  color: #6e6e6e;
  font-weight: 700;
}

.nft_coll_info h4 {
  text-align: center;
  font-size: 30px;
  font-family: "IBM Plex Mono";
}

.nft_wrap img:hover {
  transform: scale(1.1);
}

.nft_wrap img {
  transition: 0.3s ease;
}

.owl-nav {
  display: none;
}

.owl-theme .owl-dots .owl-dot span {
  width: 50px !important;
  height: 6px !important;
  margin: 95px 7px 33px 0px !important;
  background: #d6d6d6;
  display: block;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.buy-drop-btn {
  position: relative;
}

a.drop-btn {
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 700;
  display: block;
  z-index: 9;
  border: 1px solid #fff;
  position: absolute;
  left: 43%;
  top: -135px;
  text-decoration: none !important;
  color: #000;
  background-color: #fff;
}

a.drop-btn:hover {
  background-color: transparent;
  color: #fff;
  transition: 0.6s;
  transform: scaleX(2);
}

@media screen and (max-width: 992px) {
  a.drop-btn {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    display: block;
    z-index: 9;
    border: 1px solid #fff;
    position: absolute;
    left: 35%;
    top: -131px;
    text-decoration: none !important;
    color: #000;
    background-color: #fff;
  }
}

@media screen and (max-width: 600px) {
  a.drop-btn {
    padding: 10px 30px;
    font-size: 17px;
    font-weight: 700;
    display: block;
    z-index: 9;
    border: 1px solid #fff;
    position: absolute;
    left: 20%;
    top: -131px;
    text-decoration: none !important;
    color: #000;
    background-color: #fff;
  }
}
