.member-image {
  width: 55%;
  margin: 0px auto;
  opacity: 0.5;
  transition: 0.5s ease;
}

.member-section-subheading ul.button-header {
  width: 100% !important;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-image:hover {
  opacity: 1;
  transition: 0.5s ease;
}

.member-section-subheading h1 {
  color: #795c7a;
  text-align: center;
  font-family: "IBM Plex Mono";
  font-size: 28px;
  font-weight: bold;
  margin: 5px 0px;
}

.member-section-subheading p {
  color: #9c9c9c;
  text-align: center;
  font-family: "IBM Plex Mono";
  font-size: 13px;
  font-weight: bold;
  padding: 12px 0px;
}

.sword {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sword-flex {
  margin: 0px 40px;
}

@media only screen and (max-width: 600px) {
  .member-section-subheading ul.button-header {
    width: 65% !important;
    margin: 12px auto;
  }

  .member-section-subheading ul.team-section {
    width: 100% !important;
    margin: 10px auto;
  }
}
